mixin icon(name,width)
    if !width
        span(class="icon svg-image-" + name)
    else
        span(class="icon svg-image-" + name style="width:" + width + "px")


mixin use(name,width,height)
    svg(width=width height=height viewBox="0 0 "+ width +" "+ height).icon
        use(xlink:href="images/sprites/main.stack.svg#image-" + name)


mixin picture(name,ext,x2)
    if !x2
        picture.picture.object-fit-cover
            source.object-fit-cover(srcset="images/" + name + ".webp" type="image/webp")
            img.picture__img.object-fit-cover(src="images/" + name + "." + ext alt="")
    else
        picture.picture.object-fit-cover
            source.object-fit-cover(srcset="images/" + name + ".webp, images/" + name + "@2x.webp 2x" type="image/webp")
            img.picture__img.object-fit-cover(src="images/" + name + "." + ext srcset="images/" + name + "." + ext + ", images/" + name + "@2x." + ext + " 2x" alt="")


mixin breadcrumbs(arr,cur)
    .b-breadcrumbs
        .container
            each v in arr
                a(href="#").b-breadcrumbs__link=v
            if cur!=''
                span.b-breadcrumbs__text=cur



mixin pagination(amount, current, ellipsis, last, arrows)
    .pagination
        if (arrows === true)
            a(href="#").pagination__prev: span

        ul.pagination__list
            - for (var index = 1; index <= amount; index++)
                if (index === current)
                    li.pagination__item.current
                        span= index
                else if (index === ellipsis)
                    li.pagination__item
                        a(href="#").is-collapsed ...
                else
                    li.pagination__item
                        a(href="#")= index

            - for (var index = last; index <= last; index++)
                li.pagination__item
                    a(href="#")= index

        if (arrows === true)
            a(href="#").pagination__next: span


mixin popularCategoriesItem(numberOfItem)
    li.popularCategories__item 
        a.popularCategories__link(href="#") 

            .popularCategories__img 
                img(src= "./images/popular-сategories-" + numberOfItem + ".png" alt="категория")

            h3.popularCategories__name КАТЕГОРИЯ


mixin brandSectionItem(numberOfIcon)
    li.brandsSection__item
        a(href="#")
            img(src= "./images/icon-brand-" + numberOfIcon + ".svg" alt="")


mixin goodsCardItem(imgUrl, isSale, isHit, price, oldPrice, name, descr)
    .goodsCard__item
        .goodsCard__descr
            .goodsCard__img
                img(src= imgUrl alt= name)
                button.goodsCard__addToFavorites(type="button" aria-label="Добавить в избранное")
                    img(src="./images/heart-icon.svg" alt="Добавить в избранное")
                    img(src="./images/heart-icon-black.svg" alt="Убрать из избранного")
                if isSale
                    span.sticker__sale.stiker__azure -10%
                if isHit
                    span.sticker__sale.sticker__red Хит
            .goodsCard__price
                span.goods__priceNew #{price}
                if oldPrice
                    span.goods__priceOld #{oldPrice}
            h3.goodsCard__name #{name} 
            p.goodsCard__about #{descr}

        button.goodsCard__addToCart(type="button" aria-label="Добавить товар в корзину") В корзину



mixin pagination(customClass)
    ul.pagination(class= customClass)

        li.pagination__current: a(href="#") 1
        li: a(href="#") 2
        li: a(href="#") 3
        li.pagination__dots: span ...
        li: a(href="#") 32

