mixin icon(name,width)
    if !width
        span(class="icon svg-image-" + name)
    else
        span(class="icon svg-image-" + name style="width:" + width + "px")


mixin use(name,width,height)
    svg(width=width height=height viewBox="0 0 "+ width +" "+ height).icon
        use(xlink:href="images/sprites/main.stack.svg#image-" + name)


mixin picture(name,ext,x2)
    if !x2
        picture.picture.object-fit-cover
            source.object-fit-cover(srcset="images/" + name + ".webp" type="image/webp")
            img.picture__img.object-fit-cover(src="images/" + name + "." + ext alt="")
    else
        picture.picture.object-fit-cover
            source.object-fit-cover(srcset="images/" + name + ".webp, images/" + name + "@2x.webp 2x" type="image/webp")
            img.picture__img.object-fit-cover(src="images/" + name + "." + ext srcset="images/" + name + "." + ext + ", images/" + name + "@2x." + ext + " 2x" alt="")


mixin breadcrumbs(arr,cur)
    .b-breadcrumbs
        .container
            each v in arr
                a(href="#").b-breadcrumbs__link=v
            if cur!=''
                span.b-breadcrumbs__text=cur



mixin pagination(amount, current, ellipsis, last, arrows)
    .pagination
        if (arrows === true)
            a(href="#").pagination__prev: span

        ul.pagination__list
            - for (var index = 1; index <= amount; index++)
                if (index === current)
                    li.pagination__item.current
                        span= index
                else if (index === ellipsis)
                    li.pagination__item
                        a(href="#").is-collapsed ...
                else
                    li.pagination__item
                        a(href="#")= index

            - for (var index = last; index <= last; index++)
                li.pagination__item
                    a(href="#")= index

        if (arrows === true)
            a(href="#").pagination__next: span


mixin popularCategoriesItem(numberOfItem)
    li.popularCategories__item 
        a.popularCategories__link(href="#") 

            .popularCategories__img 
                img(src= "./images/popular-сategories-" + numberOfItem + ".png" alt="Популярная категория товара")

            h3.popularCategories__name КАТЕГОРИЯ


mixin brandSectionItem(numberOfIcon)
    li.brandsSection__item
        a(href="#")
            img(src= "./images/icon-brand-" + numberOfIcon + ".svg" alt="")
            span.visualhidden Dolce & Gabbana


mixin goodsCardItem(imgUrl, isSale, isHit, price, oldPrice, name, descr, isAddedToFavorites)
    .goodsCard__item(class=isAddedToFavorites ? 'addedToFavorites' : '')
        .goodsCard__sliderWrapper 
            .goodsCard__slide
                .goodsCard__inner
                    .goodsCard__descr
                        .goodsCard__img
                            img(src= imgUrl.first alt= name.first)
                            button.goodsCard__addToFavorites(type="button" aria-label="Добавить в избранное")
                                img(src="./images/heart-icon.svg" alt="Добавить в избранное")
                                img(src="./images/heart-icon-black.svg" alt="Добавить в избранное")
                                img(src="./images/heart-icon-red.svg" alt="Убрать из избранного")
                            if isSale
                                span.sticker__sale.stiker__azure -10%
                            if isHit
                                span.sticker__sale.sticker__red Хит
                        .goodsCard__price
                            span.goods__priceNew #{price}
                            if oldPrice
                                span.goods__priceOld #{oldPrice}
                        h3.goodsCard__name #{name.first} 
                        p.goodsCard__about #{descr.first}

                    button.goodsCard__addToCart(type="button" aria-label="Добавить товар в корзину") В корзину

            .goodsCard__slide
                .goodsCard__inner
                    .goodsCard__descr
                        .goodsCard__img
                            img(src= imgUrl.second alt= name.second)
                            button.goodsCard__addToFavorites(type="button" aria-label="Добавить в избранное")
                                img(src="./images/heart-icon.svg" alt="Добавить в избранное")
                                img(src="./images/heart-icon-black.svg" alt="Убрать из избранного")
                            if isSale
                                span.sticker__sale.stiker__azure -10%
                            if isHit
                                span.sticker__sale.sticker__red Хит
                        .goodsCard__price
                            span.goods__priceNew #{price}
                            if oldPrice
                                span.goods__priceOld #{oldPrice}
                        h3.goodsCard__name #{name.second} 
                        p.goodsCard__about #{descr.second}

                    button.goodsCard__addToCart(type="button" aria-label="Добавить товар в корзину") В корзину

            .goodsCard__slide
                .goodsCard__inner
                    .goodsCard__descr
                        .goodsCard__img
                            img(src= imgUrl.third alt= name.third)
                            button.goodsCard__addToFavorites(type="button" aria-label="Добавить в избранное")
                                img(src="./images/heart-icon.svg" alt="Добавить в избранное")
                                img(src="./images/heart-icon-black.svg" alt="Убрать из избранного")
                            if isSale
                                span.sticker__sale.stiker__azure -10%
                            if isHit
                                span.sticker__sale.sticker__red Хит
                        .goodsCard__price
                            span.goods__priceNew #{price}
                            if oldPrice
                                span.goods__priceOld #{oldPrice}
                        h3.goodsCard__name #{name.third} 
                        p.goodsCard__about #{descr.third}

                    button.goodsCard__addToCart(type="button" aria-label="Добавить товар в корзину") В корзину


mixin goodsCardItemSmall(imgUrl, isSale, isHit, price, oldPrice, name, descr, isAddedToFavorites)
    article.goodsCard__item(class=isAddedToFavorites ? 'addedToFavorites' : '')
        .goodsCard__descr
            .goodsCard__img
                img(src= imgUrl alt= name)
                button.goodsCard__addToFavorites(type="button" aria-label="Добавить в избранное")
                    img(src="./images/heart-icon.svg" alt="Добавить в избранное")
                    img(src="./images/heart-icon-black.svg" alt="Добавить в избранное")
                    img(src="./images/heart-icon-red.svg" alt="Убрать из избранного")
                if isSale
                    span.sticker__sale.stiker__azure -10%
                if isHit
                    span.sticker__sale.sticker__red Хит
            .goodsCard__price
                span.goods__priceNew #{price}
                if oldPrice
                    span.goods__priceOld #{oldPrice}
            h3.goodsCard__name #{name} 
            p.goodsCard__about #{descr}

        button.goodsCard__addToCart(type="button" aria-label="Добавить товар в корзину") В корзину



mixin pagination(customClass)
    nav
        ul.pagination(class= customClass)

            li.pagination__current: a(href="#") 1
            li: a(href="#") 2
            li: a(href="#") 3
            li.pagination__dots: span ...
            li: a(href="#") 32



mixin filtersItem(value)
    li.filters__item 
        label.filters__label
            input.filters__checkbox(type="checkbox")
            span
            span= value


mixin starRating(customClassName, isDisable, id)

    if isDisable

        fieldset.rating__fieldset(name="raitng" class= customClassName disabled)

            input.rating__input(type="radio" id="star5" + id name="star" value="5")
            label.rating__label(for="star5" + id title="text") 5 stars

            input.rating__input(type="radio" id="star4" + id name="star" value="4" checked)
            label.rating__label(for="star4" + id title="text") 4 stars

            input.rating__input(type="radio" id="star3" + id name="star" value="3")
            label.rating__label(for="star3" + id title="text") 3 stars

            input.rating__input(type="radio" id="star2" + id name="star" value="2")
            label.rating__label(for="star2" + id title="text") 2 stars

            input.rating__input(type="radio" id="star1" + id name="star" value="1")
            label.rating__label(for="star1" + id title="text") 1 star

    else

        fieldset.rating__fieldset(name="raitng" class= customClassName)

            input.rating__input(type="radio" id="star5" name="star" value="5")
            label.rating__label(for="star5" title="text") 5 stars

            input.rating__input(type="radio" id="star4" name="star" value="4")
            label.rating__label(for="star4" title="text") 4 stars

            input.rating__input(type="radio" id="star3" name="star" value="3")
            label.rating__label(for="star3" title="text") 3 stars

            input.rating__input(type="radio" id="star2" name="star" value="2")
            label.rating__label(for="star2" title="text") 2 stars

            input.rating__input(type="radio" id="star1" name="star" value="1")
            label.rating__label(for="star1" title="text") 1 star


mixin infoReviewsItem(id)
    .info__reviews-item

        .info__reviews-descr
            span.info__reviews-user Ярослав П.
            time.info__reviews-date(datetime="2023-05-24") 24 мая 2023

        form(action="#").rating.info__reviews-rating
            +starRating('.info__rating', true, id)

        .info__reviews-text
            p На глаз засветов не видно, но на камеру почему то видно. Но для данной матрицы, засветы в норме (У тфт 10 летней давности(v193hq), вроде больше. Хотя я думал там вообще нет никаких засветов)

        .info__reviews-images

            .info__reviews-img
                img(src="./images/info-img.png" alt="фото отзыва")
            .info__reviews-img
                img(src="./images/info-img.png" alt="фото отзыва")
            .info__reviews-img
                img(src="./images/info-img.png" alt="фото отзыва")



mixin cartRegularRow(imgNum)
    article.cart__regular-row

        .cart__descr

            img.cart__img(src="./images/view-small-" + imgNum + ".png" alt="фото товара 1")

            h4.cart__name INTENZE Products Lemon Yellow 2 oz

            .cart__price
                span.cart__price-new 3 800₸
                span.cart__price-old 5 800₸

        .cart__menu

            .cart__amount.details__amount.goods-amount
                button.detalis__decrease.goods-decrease
                    svg(xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none")
                        path(d="M19 13H5V11H19V13Z" fill="black")

                input.goods-amout(type="number" value="1")

                button.detalis__increase.goods-increase
                    svg(xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none")
                        path(d="M19 13H13V19H11V13H5V11H11V5H13V11H19V13Z" fill="black")

            .cart__sum
                span.cart__sum-new 3 800₸
                span.cart__sum-old 5 800₸

            .cart__buttons
                button.cart__add-to-favorites(type="button" aria-label="Добавить в избранное")
                    img(src="./images/heart-icon.svg" alt="Добавить в избранное")
                    img(src="./images/heart-icon-black.svg" alt="Добавить в избранное")
                    img(src="./images/heart-icon-red.svg" alt="Убрать из избранного")

                button.cart__remove(type="button" aria-label="Удалить товар из корзины")
                    svg(xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none")
                        path(d="M19 6.41L17.59 5L12 10.59L6.41 5L5 6.41L10.59 12L5 17.59L6.41 19L12 13.41L17.59 19L19 17.59L13.41 12L19 6.41Z" fill="black")

        .cart__removing
            .cart__removing-bg
            .cart__removing-buttons
                button.cart__cancel.btn__black(type="button" aria-label="Отменить удаление товара") Вернуть позицию
                button.cart__delete-anyway.btn__black(type="button" aria-label="Всё равно удалить товар из корзины")
                    svg(xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none")
                        path(d="M19 6.41L17.59 5L12 10.59L6.41 5L5 6.41L10.59 12L5 17.59L6.41 19L12 13.41L17.59 19L19 17.59L13.41 12L19 6.41Z" fill="white")


mixin brandsAbcItem(letter)
    li.brands-abc__item: a(href="#")= letter


mixin newsCard(img)
    article.news__unit
        .news__content
            .news__img 
                img(src= "./images/news-" + img + ".jpg" alt= "Новость номер " + img)
            h3.news__title L’Oreal опровергла возможность возобновления поставок в Россию
            p.news__subtitle Французская косметическая компания L'Oreal, которой принадлежат бренды Giorgio Armani...

        .news__bottom 
            a.news__link(href="#") Читать дальше
            time.news__published(datetime="2022-10-11") 10.11.2022


mixin mightlikeCardItem(imgUrl)
    .goodsCard__item
        .goodsCard__sliderWrapper 
            .goodsCard__slide
                .news__inner
                    .news__content
                        .news__img 
                            img(src= imgUrl.first alt= "Новость номер 1")
                        h3.news__title L’Oreal опровергла возможность возобновления поставок в Россию
                        p.news__subtitle Французская косметическая компания L'Oreal, которой принадлежат бренды Giorgio Armani...

                    .news__bottom 
                        a.news__link(href="#") Читать дальше
                        time.news__published(datetime="2022-10-11") 10.11.2022

            .goodsCard__slide
                .news__inner
                    .news__content
                        .news__img 
                            img(src= imgUrl.second alt= "Новость номер 1")
                        h3.news__title L’Oreal опровергла возможность возобновления поставок в Россию
                        p.news__subtitle Французская косметическая компания L'Oreal, которой принадлежат бренды Giorgio Armani...

                    .news__bottom 
                        a.news__link(href="#") Читать дальше
                        time.news__published(datetime="2022-10-11") 10.11.2022

            .goodsCard__slide
                .news__inner
                    .news__content
                        .news__img 
                            img(src= imgUrl.third alt= "Новость номер 1")
                        h3.news__title L’Oreal опровергла возможность возобновления поставок в Россию
                        p.news__subtitle Французская косметическая компания L'Oreal, которой принадлежат бренды Giorgio Armani...

                    .news__bottom 
                        a.news__link(href="#") Читать дальше
                        time.news__published(datetime="2022-10-11") 10.11.2022

